In [90]:
import pandas as pd
import numpy as np
import altair as alt
from altair import Chart
from string import punctuation
alt.data_transformers.disable_max_rows()

DataTransformerRegistry.enable('default')

In [4]:
df_train = pd.read_csv('../data/train.csv', dtype={'id': np.int16, 'target': np.int8})
df_test = pd.read_csv('../data/test.csv', dtype={'id': np.int16})

print('Training set shape {}'.format(df_train.shape))
print('Test set shape {}'.format(df_test.shape))

Training set shape (7613, 5)
Test set shape (3263, 4)

In [16]:
df_test.isna().sum().to_frame('null_count')

          null_count
id                 0
keyword           26
location        1105
text               0

In [26]:
na_train = Chart(df_train.isna().sum().to_frame('null_count').reset_index()).mark_bar().encode(
    x='null_count',
    y='index'
).properties(
    title='Training test'
)

na_test = Chart(df_test.isna().sum().to_frame('null_count').reset_index()).mark_bar().encode(
    x='null_count',
    y='index'
).properties(
    title='Test test'
)

na_train | na_test

alt.HConcatChart(...)

In [79]:
tmp#sort_values(by='sum', ascending=False).tail()

        keyword  target  count  sum
0        ablaze       0     23    0
1        ablaze       1     13   13
2      accident       0     11    0
3      accident       1     24   24
4    aftershock       0     34    0
..          ...     ...    ...  ...
433       wreck       0     30    0
434       wreck       1      7    7
435    wreckage       1     39   39
436     wrecked       0     36    0
437     wrecked       1      3    3

[438 rows x 4 columns]

In [ ]:
tmp = df_train.copy()
tmp['target_1'] = tmp['target'] == 1
tmp = tmp.groupby(['keyword', 'target'])['target_1'].agg(['count', 'sum']).reset_index()
Chart(tmp.sort_values(by=['count', 'sum']).head(50)).mark_bar().encode(
    alt.X('count'),
    alt.Y('keyword:O', sort=alt.SortField('sum', order='descending')),
    color='target:O'
)

In [83]:
df_train.at[0, 'text']

'Our Deeds are the Reason of this #earthquake May ALLAH Forgive us all'

In [96]:
for df in [df_train, df_test]:
    df['word_count'] = df['text'].apply(lambda x: len(x.split(' ')))
    df['unique_word_count'] = df['text'].apply(lambda x: len(set(x.split(' '))))

    df['mean_word_lenght'] = df['text'].apply(lambda x: np.mean(list(map(len, x.split(' ')))))
    df['char_count'] = df['text'].apply(len)
    df['punctuation_count'] = df['text'].apply(lambda x: np.sum([c in punctuation for c in x]))